
body {
	font-family: 'Roboto', sans-serif;
    background: white;
    text-align: center;
    margin-bottom: 100px;
}

h1 {
	padding-top: 60px;
	padding-bottom: 30px;
	font-size: 30pt;
	letter-spacing: 1px;
	color: #383E46;
}

#labs {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#labs li {
	margin: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#artwork {
	margin-top: 50px;
}

#back {
	display: inline;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

#back a, #reference a {
	color: white;
	background-color: #8FA7FF;
	padding: 14px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 150px;
}

#back a:hover, #reference a:hover {
	background-color: #6778B8;
}

#reference {
	display: inline;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

#links a {
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 350px;
}

#fun a {
	background-color: #C3DAF2;
}

#blexbolex a {
   background-color: #ADC3F3;
}

#surrealism a {
	background-color: #9CB2F3;
}

#organic a {
	background-color: #8197F5;
}

#structured a {
	background-color: #6B82F5;
}

#impressionism a {
	background-color: #AB79FF;
}

#duck a {
	background-color: #B289FF;
}

#combination a {
	background-color: #BD98FF;
}

#game a {
	background-color: #C5AFFF;
}

#links a:hover {
	background-color: #383E46;
}

h1:hover {
	background: linear-gradient(to right, rgba(113,148,236,0.8), rgba(181,58,178,0.5), rgba(181,123,228,1));
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
