
body {
    background: white;
    font-family: 'Roboto', sans-serif;
    color: #313233;
    text-align: center;
}

h1 {
	padding-top: 50px;
	font-size: 30pt;
}

#labs {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#labs li {
	margin: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#artwork {
	margin-top: 50px;
}

#back {
	display: inline;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

#reference {
	display: inline;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}